/* Base style for lagrer screens*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    background-color: powderblue;
    
}
header{
    background-color: red;
     color: #fff;
     text-align: center;
     padding: 20px;

}
nav ul{
    list-style: none;

}
nav li{
    display: inline;
 margin-right:25px ;
}
nav a {
  text-decoration: none;
  color: #ffffff;
 
}

/* media queries===== */
/* @media screen  and (max-width:768px){
    body{
        font-size: 16px;

    }
    header{
        padding: 10px;
    }
    nav ul{
        text-align: center;
        padding-top: 10px;
    }
    nav li{
        display: block;
        margin-bottom: 10px;
    }
} */

@media screen and (max-width:768px) {
    body{
        font-size: 16px;

    }
    header{
        padding: 10px;

    }
    nav ul{
        text-align: right;
        padding-top: 10px;
    }
    nav li{
        display:block;
        margin-bottom: 20px;
    }
}